<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header bg-info d-flex justify-content-center">
        <h4 class="m-b-0 text-white">Producto</h4>
      </div>
      <div class="card-body">
        <form action="#" [formGroup]="prductoForm" (ngSubmit)="guardarProducto()">
          <div class="form-body">
            <div class="d-flex justify-content-center">
              <h3 class="card-title">Crear producto</h3>
            </div>
            <hr>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre">
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="categoria">
                <option selected>Seleccione categoria</option>
                <option *ngFor="let categoria of ListaCategoria" [value]="categoria._id">{{categoria.nombre}}</option>
              </select>
            </div>
            <div class="form-group d-flex justify-content-center">
              <div class="checkbox checkbox-success">
                <input id="checkbox1" type="checkbox" formControlName="disponible">
                <label for="checkbox1"> Activo </label>
              </div>
            </div>
            <div class="form-group">
              <label>Precio</label>
              <input type="number" class="form-control" formControlName="precio">
            </div>
            <div class="form-group">
              <label for="">Descripcion</label>
              <textarea class="form-control" name="" id="" rows="5" formControlName="descripcion"></textarea>
            </div>
          </div>
          <div *ngIf="id">
            <div class="form-group d-flex justify-content-center">
              <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box text d-flex justify-content-center" *ngFor="let img of ListarImg;let i =index"
                  cdkDrag>
                  <div class="card">
                    <div class="d-flex justify-content-end" style="position: absolute;top:0;right:-4px;">
                      <h3>
                        <span class="badge rounded-pill bg-danger p-2" style="cursor: pointer;"
                          (click)="BorrarImg(img,i)">
                          X
                        </span>
                      </h3>
                    </div>
                    <img [src]="img.secure_url || img.url" class="card-img mt-3 mr-5" alt="...">
                    <button type="button" class="btn btn-primary" *ngIf="img.estado==false"
                      (click)="guardarImagen(i)">subir</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <div class="file-select" id="src-file1">
                <input type="file" name="src-file1" aria-label="Archivo" style="cursor: pointer;" multiple #fileInput
                  (change)="subir($event)">
              </div>
            </div>
          </div>
          <br>
          <div *ngIf="!id" class="form-actions d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mr-1"> <i class="fa fa-check"></i> Crear</button>
          </div>
          <div *ngIf="id" class="form-actions d-flex justify-content-center">
            <button type="button" class="btn btn-primary mr-1"> <i class="fa fa-check"></i> Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
