<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header bg-info d-flex justify-content-center">
        <h4 class="m-b-0 text-white">Producto</h4>

      </div>
      <div class="card-body">
        <form action="#" [formGroup]="prductoForm" (ngSubmit)="guardarProducto()">
          <div class="form-body">
            <div class="d-flex justify-content-center">
              <h3 class="card-title">Crear producto</h3>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-danger" [routerLink]="['../../productos']"> <i
                  class="fa fa-backward"></i> Regresar</button>
            </div>
            <hr>
            <div class="form-group"
              [ngClass]="{'has-success':validarCampo('nombre'),'has-danger':campoIncorrecto('nombre')}">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre"
                [ngClass]="{'form-control-danger':campoIncorrecto('nombre')}">
              <small class="form-control-feedback" *ngIf="campoIncorrecto('nombre')">El nombre no debe estar vacio
              </small>
            </div>
            <div class="form-group"
              [ngClass]="{'has-success':validarCampo('categoria'),'has-danger':campoIncorrecto('categoria')}">
              <select class="form-control" formControlName="categoria" required
                [ngClass]="{'form-control-danger':campoIncorrecto('categoria')}">
                <option value="" disabled>Seleccione Categoria</option>
                <option *ngFor="let categoria of ListaCategoria" [value]="categoria._id">{{categoria.nombre}}</option>
              </select>
              <small class="form-control-feedback" *ngIf="campoIncorrecto('categoria')">la categoria debe ser
                seleccionada
              </small>
            </div>
            <div class="form-group d-flex justify-content-center">
              <div class="checkbox checkbox-success">
                <input id="checkbox1" type="checkbox" formControlName="disponible">
                <label for="checkbox1"> Activo </label>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <h2><span *ngFor="let item of tallasdisponibles; let i=index" class="badge badge-primary mr-1">{{item}} <i
                    class="mdi mdi-close-circle" (click)="borrarTalla(i)" style="cursor: pointer;"></i></span></h2>
              <div class="alert alert-danger" role="alert" *ngIf="tallasdisponibles.length==0">
                <strong>Seleccione una talla</strong>
              </div>
            </div>
            <div class="form-group  d-flex justify-content-center">
              <select class="form-control" (change)="agregarTalla(cmbCombo.value)" #cmbCombo>
                <option value="">Seleccione talla</option>
                <option *ngFor="let talla of listarTallas" [value]="talla.codigo">{{talla.codigo}}</option>
              </select>
            </div>

            <div class="form-group"
              [ngClass]="{'has-success':validarCampo('precio'),'has-danger':campoIncorrecto('precio')}">
              <label>Precio</label>
              <input type="number" class="form-control" formControlName="precio"
                [ngClass]="{'form-control-danger':campoIncorrecto('precio')}">
              <small class="form-control-feedback" *ngIf="campoIncorrecto('precio')">El precio es obligatorio
              </small>
            </div>
            <div class="form-group"
              [ngClass]="{'has-success':validarCampo('descripcion'),'has-danger':campoIncorrecto('descripcion')}">
              <label for="">Descripcion</label>
              <textarea class="form-control" name="" id="" rows="5" formControlName="descripcion"
                [ngClass]="{'form-control-danger':campoIncorrecto('descripcion')}"></textarea>
              <small class="form-control-feedback" *ngIf="campoIncorrecto('descripcion')">La descripcion no debe estar
                vacia
              </small>
            </div>
          </div>
          <div *ngIf="id">
            <div class="form-group d-flex justify-content-center">
              <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box text d-flex justify-content-center" *ngFor="let img of ListarImg;let i =index"
                  cdkDrag>
                  <div class="card">
                    <div class="d-flex justify-content-end" style="position: absolute;top:0;right:-4px;">
                      <h3>
                        <span class="badge rounded-pill bg-danger p-2" style="cursor: pointer;"
                          (click)="BorrarImg(img,i)">
                          X
                        </span>
                      </h3>
                    </div>
                    <img [src]="img.secure_url || img.url" class="card-img mt-3 mr-5" alt="...">
                    <button type="button" class="btn btn-primary" *ngIf="img.estado==false"
                      (click)="guardarImagen(i)">subir</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <div class="file-select" id="src-file1">
                <input type="file" name="src-file1" aria-label="Archivo" style="cursor: pointer;" multiple #fileInput
                  (change)="subir($event)">
              </div>
            </div>
          </div>
          <br>
          <div *ngIf="!id" class="form-actions d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mr-1"> <i class="fa fa-check"></i> Crear</button>
          </div>
          <div *ngIf="id" class="form-actions d-flex justify-content-center">
            <button type="button" class="btn btn-primary mr-1" (click)="EditarProducto()"> <i class="fa fa-check"></i>
              Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
