<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Crear Boleta</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="GenerarPedido()" [formGroup]="formPedido">
          <button class="btn btn-primary" type="submit">Crear Pedido</button>
          <div class="form-body">
            <hr>
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Nombre</label>
                  <input type="text" id="firstName"
                    [ngClass]="{'is-valid':validarCampo('nombre'),'is-invalid':campoIncorrecto('nombre')}"
                    class="form-control" placeholder="Nombre" formControlName="nombre">
                  <small class="form-control-feedback"> This is inline help </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Provincia</label>
                  <input
                    [ngClass]="{'is-valid':validarCampo('departamento'),'is-invalid':campoIncorrecto('departamento')}"
                    type="text" id="firstName" class="form-control" placeholder="Provincia"
                    formControlName="departamento">
                  <small class="form-control-feedback"> This is inline help </small>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Direccion</label>
                  <input [ngClass]="{'is-valid':validarCampo('direccion'),'is-invalid':campoIncorrecto('direccion')}"
                    type="text" id="firstName" class="form-control" placeholder="Direccion" formControlName="direccion">
                  <small class="form-control-feedback"> This is inline help </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input [ngClass]="{'is-valid':validarCampo('correo'),'is-invalid':campoIncorrecto('correo')}"
                    type="text" id="firstName" class="form-control" placeholder="Email" formControlName="correo">
                  <small class="form-control-feedback"> This is inline help </small>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Celular</label>
                  <input [ngClass]="{'is-valid':validarCampo('telefono'),'is-invalid':campoIncorrecto('telefono')}"
                    type="text" id="firstName" class="form-control" placeholder="Celular" formControlName="telefono">
                  <small class="form-control-feedback"> This is inline help </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Boleta</label>
                  <input type="text" id="firstName" class="form-control" placeholder="Boleta" disabled>
                </div>
              </div>
              <!--/span-->
            </div>
          </div>
        </form>
        <div class="text-center">
          <button class="btn btn-primary" (click)="addProducto()">Añadir Producto</button>
        </div>
        <hr>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#1</th>
                <th>nombre</th>
                <th>color</th>
                <th>talla</th>
                <th>cantidad</th>
                <th>Precio x Unidad</th>
                <th>SubTotal</th>
                <th class="text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of formPedido.controls.arrayProductos.controls; let i = index"

               >
                <th>1</th>
                <td>
                  <select class="form-control" required [formControl]="product.get('producto')"
                  [ngClass]="getColorClass(product.get('producto'))"
                  >
                    <option *ngFor="let ite of cmbProduct" [value]="ite.uid">{{ite.nombre}}</option>
                  </select>
                </td>
                <td>
                  <input
                  [ngClass]="getColorClass(product.get('color'))"
                  type="text" class="form-control" placeholder="Color" [formControl]="product.get('color')">
                </td>
                <td>
                  <input
                  [ngClass]="getColorClass(product.get('talla'))"
                  type="text" class="form-control" placeholder="Talla" [formControl]="product.get('talla')">
                </td>
                <td>
                  <input
                  [ngClass]="getColorClass(product.get('cantidad'))"
                  type="number" class="form-control" [formControl]="product.get('cantidad')">
                </td>
                <td>
                  <input
                  [ngClass]="getColorClass(product.get('precio'))"
                  type="number" class="form-control" [formControl]="product.get('precio')">
                </td>
                <td>
                  <input type="number" class="form-control" disabled
                    [value]="product.get('cantidad').value* product.get('precio').value"
                  >
                </td>
                <td class="text-nowrap">
                  <button class="btn btn-info">X</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
