<div class="row d-flex justify-content-center">
  <div class="col-lg-5 col-xlg-4">
    <div class="card">
      <div class="card-body little-profile text-center">
        <div class="image-upload">
          <label for="file-input">
            <img *ngIf="!imgTemp" [src]="usuario.img['secure_url'] || 'https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg'" class="img-circle" width="150" />
            <img *ngIf="imgTemp" [src]="imgTemp" class="img-circle" width="150" />
          </label>
          <input type="file" name="" id="file-input" (change)="cambiarImagen($event)"/>
        </div>
        <button type="button" class="btn btn-primary" *ngIf="imgTemp" (click)="guardarImagen()" >Cargar</button>
        <h3 style="cursor: pointer;"  class="m-b-0" *ngIf="!campoNombre" (click)="mostrarCampo(usuario,'nombre')">{{usuario.nombre}}</h3>
        <div class="input-form">
          <div class="input-group" *ngIf="campoNombre">
            <input type="text" class="form-control" [(ngModel)]="usuario.nombre">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="guardarCampo(usuario,'nombre')"><i
                  class="mdi mdi-check"></i></button>
            </span>
          </div>
        </div>
        <h6 class="text-muted">
          <span class="badge badge-primary">{{usuario.rol}}</span>
        </h6>
      </div>

      <div class="message-box contact-box">
        <div class="message-widget text-center">
          <a>
            <div class="mail-contnet">
              <h4>Email</h4> <span class="mail-desc" *ngIf="!campoEmail" (click)="mostrarCampo(usuario,'email')"
                style="cursor: pointer;">{{usuario.email}}</span>
              <div class="input-form">
                <div class="input-group" *ngIf="campoEmail">
                  <input type="text" class="form-control" [(ngModel)]="usuario.email">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="guardarCampo(usuario,'email')"><i
                        class="mdi mdi-check"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a>
            <div class="mail-contnet">
              <h4>Telefono</h4> <span class="mail-desc" *ngIf="!campoTelefono" style="cursor: pointer;"
                (click)="mostrarCampo(usuario,'telefono')">{{usuario.telefono}}</span>
              <div class="input-form">
                <div class="input-group" *ngIf="campoTelefono">
                  <input type="text" class="form-control" [(ngModel)]="usuario.telefono">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="guardarCampo(usuario,'telefono')"><i
                        class="mdi mdi-check"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a>
            <div class="mail-contnet">
              <h4>Password</h4> <span class="mail-desc">*******</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
