<div class="row d-flex justify-content-center">
  <div class="col-lg-5 col-xlg-4">
    <div class="card">
      <div class="card-body little-profile text-center">
        
        <div class="pro-img m-t-20"><img src="../assets/images/users/4.jpg" alt="user" class="shadow"></div>

        <h3 class="m-b-0">{{usuario.nombre}}</h3>
        <h6 class="text-muted">{{usuario.rol}}</h6>
      </div>

      <div class="message-box contact-box">
        <div class="message-widget text-center">
          <a>
            <div class="mail-contnet">
              <h4>Email</h4> <span class="mail-desc" *ngIf="!campoEmail"
                (click)="mostrarCampo(usuario,'email')" style="cursor: pointer;" >{{usuario.email}}</span>
              <div class="input-form">
                <div class="input-group" *ngIf="campoEmail">
                  <input type="text" class="form-control" [(ngModel)]="usuario.email">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="guardarCampo(usuario,'email')"><i
                        class="mdi mdi-check"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a>
            <div class="mail-contnet">
              <h4>Telefono</h4> <span class="mail-desc" *ngIf="!campoTelefono" style="cursor: pointer;"
                (click)="mostrarCampo(usuario,'telefono')">{{usuario.telefono}}</span>
              <div class="input-form">
                <div class="input-group" *ngIf="campoTelefono">
                  <input type="text" class="form-control" [(ngModel)]="usuario.telefono">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="guardarCampo(usuario,'telefono')"><i
                        class="mdi mdi-check"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a>
            <div class="mail-contnet">
              <h4>Password</h4> <span class="mail-desc">*******</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
