<div class="card text-center">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title text-primary">Usuarios</h4>
    <input type="text" placeholder="Buscar" class="form-control" #txtTermino (keyup)="buscar(txtTermino.value)">
  </div>
</div>
<div class="alert alert-primary text-center" role="alert" *ngIf="cargando">
  <strong>
    <h4 class="alert-heading">Cargando</h4>
    <i class="fa fa-spin fa-refresh fa-2x"></i>
    <p class="mb-0">Por favor espere</p>
  </strong>
</div>

<div class="alert alert-info text-center" role="alert" *ngIf="mostrarAlerta">
  <strong>
    <h4 class="alert-heading">Info</h4>
    <p class="mb-0">No hay resultados que mostrar</p>
  </strong>
</div>
<div class="card" *ngIf="!mostrarAlerta">
  <div class="card-body">
    <div class="d-flex justify-content-end p-3">
      <button type="button" class="btn btn-primary" [routerLink]="['../venta']">Crear</button>
    </div>
    <div class="row bg-light">
      <div class="col-10 col-sm-6 col-md-3 col-lg-3 col-xl-3 ml-5 p-2 border-2">
        <div class="row">
          <div class="col">
            <label for="x1">FechaInicio</label>
          </div>
          <div class="col">
            <input id="x1" type="date" class="form-control" placeholder="dd/mm/yyyy" (change)="fechaValor(fechavalor.value,'inicio')" #fechavalor >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="x1">Fecha fin</label>
          </div>
          <div class="col">
            <input id="x1" type="date" class="form-control" placeholder="dd/mm/yyyy" (change)="fechaValor(fechavalorx.value,'fin')" #fechavalorx>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn-primary btn mt-2">Limpiar</button>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="row">
          <div class="col-4 col-sm-6 col-md-4 col-lg-3 col-xl-3 border">
              <p>tipo de venta</p>
              <div class="checkbox checkbox-success" *ngFor="let item of tipoventa">
                <input [id]="item" type="checkbox" (change)="agregarFiltros('tipoventa',item)">
                <label [for]="item"> {{item}} </label>
              </div>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="row">
          <div class="col-4 col-sm-6 col-md-4 col-lg-3 col-xl-3 border">
              <p>tipo de venta</p>
              <div class="checkbox checkbox-success" *ngFor="let item of pagado">
                <input [id]="item.texto" type="checkbox" (change)="agregarFiltros('pagado',item.texto)">
                <label [for]="item.texto"> {{item.texto}} </label>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn-danger btn mt-2" (click)="enviarFiltro()">Filtrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>nombre</th>
            <th>email</th>
            <th>telefono</th>
            <th>Fecha</th>
            <th>estado</th>
            <th>Pagado</th>
            <th>ImporteTotal</th>
            <th>tipo de venta </th>
            <th class="text-nowrap">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of pedidos;let i=index">
            <td>
              <p (click)="clickNom(i,'nombre',usuario)" *ngIf="!nom[i]">{{usuario.nombre}}</p>
              <div class="d-flex" *ngIf="nom[i]">
                <input type="text" [(ngModel)]="usuario.nombre" class="form-control mr-1">
                <button type="button" class="btn-primary btn-sm mr-1" (click)="clickSave(i,'nombre',usuario)"><i
                    class="mdi mdi-check"></i></button>
              </div>
            </td>
            <td>
              <p (click)="clickNom(i,'email',usuario)" *ngIf="!email[i]">{{usuario.correo}}</p>
              <div class="d-flex" *ngIf="email[i]">
                <input type="text" [(ngModel)]="usuario.correo" class="form-control mr-1">
                <button type="button" class="btn-primary btn-sm mr-1" (click)="clickSave(i,'email',usuario)"><i
                    class="mdi mdi-check"></i></button>
              </div>
            </td>
            <td>
              <p (click)="clickNom(i,'telefono',usuario)" *ngIf="!telefono[i]">{{usuario.telefono}}</p>
              <div class="d-flex" *ngIf="telefono[i]">
                <input type="text" [(ngModel)]="usuario.telefono" class="form-control mr-1">
                <button type="button" class="btn-primary btn-sm mr-1" (click)="clickSave(i,'telefono',usuario)"><i
                    class="mdi mdi-check"></i></button>
              </div>
            </td>
            <td>
              {{usuario.fecha | date}}
            </td>
            <td>
              <select [(ngModel)]="usuario.estado" class="form-control" (change)="cambiarEstado(usuario)">
                <option value="NoAtendida">No atendido</option>
                <option value="empaquetado">empaquetado</option>
                <option value="enviado">enviado</option>
                <option value="completado">completado</option>
                <option value="pendiente">pendiente</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="usuario.pagado" class="form-control" (change)="cambiarPagado(usuario)">
                <option value="pagado">Pagado</option>
                <option value="PorProcesar">Por Procesar</option>
              </select>
            </td>
            <td class="text-center">
              {{usuario.Total}}
            </td>
            <td>
              {{usuario.tipoventa}}
            </td>
            <td class="text-nowrap text-center">
              <button [routerLink]="['../detallePedido',usuario.uid]" type="button" class="btn btn-primary mr-1"><i
                  class="fa fa-search"></i></button>
              <button (click)="eliminar(usuario)" type="button" class="btn btn-danger"><i
                  class="fa fa-close"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="" *ngIf="txtTermino.value==''">
      <button type="button" class="btn btn-outline-primary mr-3" (click)="cambiarPagina(-5)">atras</button>
      <button type="button" class="btn btn-outline-primary" (click)="cambiarPagina(5)">siguiente</button>
    </div>
  </div>
</div>
<pre>

 </pre>
