<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row" #verPdf>
  <div class="col-md-12">
    <div class="card card-body printableArea">
      <h3><b>Boleta</b> <span class="pull-right">#5669626</span></h3>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <address>
              <h3> &nbsp;<b class="text-danger">Raivan Store</b></h3>
              <p class="text-muted m-l-5">E 104, Dharti-2,
                <br /> Nr' Viswakarma Temple,
                <br /> Talaja Road,
                <br /> Bhavnagar - 364002
              </p>
            </address>
          </div>
          <div class="pull-right text-right">
            <address>
              <h3>To,</h3>
              <h4 class="font-bold">
                <p style="cursor: pointer;"
                (click)="clickShow('nombre')" *ngIf="!nombreCliente">{{pedido.nombre}}</p>
                <div class="input-group" *ngIf="nombreCliente">
                  <input type="text" class="form-control" [(ngModel)]="pedido.nombre" #txtnombrePedido>
                  <span class="input-group-btn">
                    <button (click)="clickSave('nombre',txtnombrePedido.value)" type="button" class="btn btn-primary"><i
                        class="mdi mdi-check"></i></button></span>
                </div>
              </h4>
              <p
              style="cursor: pointer;"
              class="text-muted m-l-30" (click)="clickShow('direccion')" *ngIf="!direccionCliente">
                {{pedido.direccion}}
              </p>
              <div class="input-group" *ngIf="direccionCliente">
                <input type="text" class="form-control" [(ngModel)]="pedido.direccion" #txtdireccionPedido>
                <span class="input-group-btn">
                  <button (click)="clickSave('direccion',txtdireccionPedido.value)" type="button"
                    class="btn btn-primary"><i class="mdi mdi-check"></i></button></span>
              </div>
              <p class="m-t-30"><b>Fecha :</b> <i class="fa fa-calendar"></i> {{pedido.fecha | date}}</p>

            </address>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table-responsive m-t-40" style="clear: both;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>nombre</th>
                  <th>color</th>
                  <th>talla</th>
                  <th class="text-right">Cantidad</th>
                  <th class="text-right">Precio Unidad</th>
                  <th class="text-right">Sub Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of detallePedido;let i=index">
                  <td class="text-center">1</td>
                  <td>
                    <p *ngIf="!nombreProducto[i]" (click)="clickshowTable(i,item.producto,'nombre')">{{item.nombre}}</p>
                    <div class="input-group" *ngIf="nombreProducto[i]">
                      <select [(ngModel)]="item.producto" class="form-control"
                        (change)="clicksaveTable(item.uid,i,item.producto,'nombre')">
                        <option *ngFor="let prod of producto" [value]="prod.uid">{{prod.nombre}}</option>
                      </select>
                      <span class="input-group-btn">
                        <button type="button" class="btn  btn-primary" (click)="cerrarCombo(i)"> x</button>
                      </span>
                    </div>



                  </td>
                  <td>
                    <p style="cursor: pointer;" *ngIf="!colorProducto[i]" (click)="clickshowTable(i,item.color,'color')">{{item.color}}</p>
                    <input *ngIf="colorProducto[i]" type="text" [(ngModel)]="item.color" class="form-control"
                      (keyup.enter)="clicksaveTable(item.uid,i,item.color,'color')">
                  </td>
                  <td>
                    <p style="cursor: pointer;" *ngIf="!tallaProducto[i]" (click)="clickshowTable(i,item.talla,'talla')">{{item.talla}}</p>
                    <input *ngIf="tallaProducto[i]" type="text" [(ngModel)]="item.talla" class="form-control"
                      (keyup.enter)="clicksaveTable(item.uid,i,item.talla,'talla')">
                  </td>
                  <td class="text-right">
                    <p  style="cursor: pointer;" *ngIf="!cantidadProducto[i]" (click)="clickshowTable(i,item.cantidad,'cantidad')">
                      {{item.cantidad}}</p>
                    <input *ngIf="cantidadProducto[i]" type="number" [(ngModel)]="item.cantidad" class="form-control"
                      (keyup.enter)="clicksaveTable(item.uid,i,item.cantidad,'cantidad')">
                  </td>
                  <td class="text-right">
                    <p  style="cursor: pointer;" *ngIf="!precioProducto[i]" (click)="clickshowTable(i,item.precio,'precio')">{{item.precio}}</p>
                    <input *ngIf="precioProducto[i]" type="number" [(ngModel)]="item.precio" class="form-control"
                      (keyup.enter)="clicksaveTable(item.uid,i,item.precio,'precio')">
                  </td>
                  <td class="text-right"> {{item.subtotal}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12">
          <div class="pull-right m-t-30 text-right">
            <!--  <p>Sub - Total amount: $13,848</p>
            <p>vat (10%) : $138 </p>
            <hr>-->
            <h3><b>Total :</b> S/{{importeTotal}}</h3>
          </div>
          <div class="clearfix"></div>
          <hr>
          <div class="text-right">

            <button (click)="lanzarPrint()" id="print" class="btn btn-default btn-outline" type="button"> <span><i
                  class="fa fa-print"></i>
                Print</span> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-info" type="submit"> Editar</button>
    </div>

  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
